
*.pyc

balladmongerer/static/fonts/Deutsch.ttf

balladmongerer/static/fonts/James Fordyce Font License.txt

printingpress/in/1000acres.txt

printingpress/in/1237.txt

printingpress/in/161.txt

printingpress/in/8563.txt

printingpress/in/ao1.txt

printingpress/in/ao2.txt

printingpress/in/ao3.txt

printingpress/in/ao4.txt

printingpress/in/ao5.txt

printingpress/in/beckett.txt

printingpress/in/kingleir.txt

printingpress/in/kingoftexas.txt

printingpress/in/learswife.txt

printingpress/in/pg1128.txt

printingpress/in/pg44700.txt

printingpress/in/ran.txt

printingpress/in/tumbl1.txt

printingpress/in/tumbl2.txt

printingpress/in/turgenev.txt

printingpress/in/walrus.txt

printingpress/out/ngram_chain.json

printingpress/source_metadata.json

printingpress/out/trainingtext.txt

sandbox/hello.py
