
*.pyc

balladmongerer/static/fonts/*

printingpress/in/*

printingpress/source_metadata.json

printingpress/out/trainingtext.txt

sandbox/*

printingpress/tmp/*

printingpress/out/*

balladmongerer/ngram_chain.p
