@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}

p {
  font-family: baskerville, serif;
  font-size: 22px;
  font-weight: normal;
}

h1{
  font-family: baskerville, serif;
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-family: baskerville, serif;
  font-size: 30px;
  font-weight: normal;
}

.blackleter {
  font-family: baskerville, serif;
  font-weight: normal;
}

.header{
   margin-top: 20px;
   position: relative;
   float: center;
   margin-left: auto;
   margin-right: auto;
   width: 920px;
   background-color: #fff;
}
.wrapper{
   position: relative;
   float: center;
   width: 920px;
   margin-left: auto;
   margin-right: auto;
   background-color: #fff;
}
.left{
   position: relative;
   float: left;
   margin-left: auto;
   margin-right: auto;
   width: 450px;
   background-color: #fff;
}
.right{
   position: relative;
   float: right;
   margin-right: auto;
   margin-left: auto;
   width: 450px;
   background-color: #fff;
}
.footer{
   position: relative;
   float: left;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   width: 920px;
   background-color: #fff;
   color: #9f9f9f;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
}

.footer a {
  color: #9f9f9f;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.footer a:hover {
  color: #3f3f3f;
}

.footer a.hover {
  color: #489096;
  text-decoration: underline;
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #fff;
}

a.button {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  padding: 10px;
  height: 50px;
  width: 200px;
  border: 1px #489096 solid;
}
