@font-face {
    font-family: blackletter;
    src: url("/static/fonts/plain.ttf");
}

@import url(https://fonts.googleapis.com/css?family=Arvo);

body, html {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
}

p {
  font-family: blackletter, Baskerville, serif;
  font-size: 22px;
  font-weight: normal;
}

h1{
  font-family: baskerville, serif;
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-family: baskerville, serif;
  font-size: 30px;
  font-weight: normal;
}

.blackleter {
  font-family: blackletter, baskerville, serif;
  font-weight: normal;
}

.header{
   position: relative;
   float: left;
   left: 0.00%;
   width: 100.00%;
   background-color: #fff;
}
.wrapper{
   position: relative;
   float: left;
   left: 0.00%;
   background-color: #fff;
}
.left{
   position: relative;
   float: left;
   left: 1.00%;
   width: 49.00%;
   background-color: #fff;
}
.right{
   position: relative;
   float: right;
   right: 1.00%;
   width: 47.00%;
   background-color: #fff;
}
.footer{
   position: relative;
   float: left;
   margin-top: 50px;
   left: 0.00%;
   width: 100.00%;
   background-color: #fff;
   color: #9f9f9f;
   font-family: 'Arvo', serif;
   font-size: 18px;
}

.footer a {
  color: #489096;
  text-decoration: none;
}

.footer a.hover {
  color: #489096;
  text-decoration: underline;
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #fff;
}
