{% extends "base.html" %}

{% block page_title %}The Ballad of King Lear{% endblock %}

{% block page_content %}      
  <div class="header">
    <center><h1>The Ballad of King Lear</h1></center>
    <center><h2>together with <i>several</i> <span class="small-cap">new</span> Histories,</h2></center>
    <center><h3>assembled for the first time, by a <span class="small-cap">true</span> computer of <i>words</i>, for the delight and vse of <i>all</i> Readers.</center>
  </div>
  <div class="right">
    <img src="{{ img_name }}" class="woodcut" />
  </div>
  <div class="left">
    <p>
      {% for item in lines %}
      {{ item|safe }}<br />
      {% endfor %}
    </p>
  </div>  
{% endblock %}

{% block page_footer %}
  <center><a href="javascript:location.reload(true)" class="button">Get a new ballad</a></center><br /><br />
  <a href="/about">What is Balladmonger?</a><br /><br />
{% endblock %}  
