{% extends "base.html" %}

{% block page_content %}      
  <div class="header">
    <center><img src="/static/img/header-small.png" /></center>
  </div>
  <div class="left">
    <p>
      {% for item in lines %}
      {{ item|safe }} <br />
      {% endfor %}
    </p>
  </div>  
  <div class="right">
    <img src="{{ img_name }}" width=400px />
  </div>
{% endblock %}

{% block page_footer %}
  <center><a href="javascript:location.reload(true)" class="button">Get a new ballad</a></center><br /><br />
{% endblock %}  
