{% extends "base.html" %}

{% block page_content %}
  <h1>Balladmonger&rsquo;s sources</h1>
  <p class="sources">
  Balladmonger was trained on <i>King Lear</i> and a sampling of texts from the seventeenth, eighteenth, nineteenth, twentieth, and twenty-first centuries that remediate <i>King Lear</i> in some way. Below is a complete list of Balladmonger's source texts. 
    <ul>
      <li><a class="sources" href="http://www.gutenberg.org/ebooks/161">Austen, Jane. <i>Sense and Sensibility</i>.</a></li>
      <li><a class="sources" href="http://www.gutenberg.org/ebooks/1237">Balzac, Honoré de. <i>Father Goriot</i>. Trans. Ellen Marriage.</a></li>
      <li><a class="sources" href="http://genius.com/The-beatles-i-am-the-walrus-lyrics">The Beatles. "I Am the Walrus."</a></li>
      <li><a class="sources" href="http://samuel-beckett.net/endgame.html">Beckett, Samuel. <i>Endgame</i>.</a></li>
      <li><a class="sources" href="http://www.gutenberg.org/files/37446/37446-h/37446-h.htm">Bottomley, Gordon. "King Lear's Wife."</a></li>
      <li><a class="sources" href="http://www.pitt.edu/~dash/salt.html#rushes">"Cap o' Rushes.</a></li>
      <li><a class="sources" href="http://www.pitt.edu/~dash/salt.html#sebillot">"The Dirty Shepherdess."</a></li>
      <li><a class="sources" href="http://dukeofbookingham.tumblr.com/post/130392066615/so-many-fucking-feelings-about-the-fool-in-king">Duke of Bookingham's tumblr text post.</a></li>
      <li><a class="sources" href="http://archiveofourown.org/works/15141">impasto. "Insight."</a></li>
      <li><a class="sources" href="http://archiveofourown.org/works/1042975">inkstainedknitter. "god save the king."</a></li>
      <li><a class="sources" href="http://www.poetryfoundation.org/poem/173747">Keats, John. "On Sitting Down to Read King Lear Again."</a></li>
      <li><a class="sources" href="http://ebba.english.ucsb.edu/ballad/31243/xml">"King LEAR and his Three Daughters."</a></li>
      <li><a class="sources" href="http://www.gutenberg.org/cache/epub/7535/pg7535.txt">"King Leir & His Three Daughters."</a></li>
      <li><a class="sources" href="http://subscene.com/subtitles/king-of-texas/english/832380"><i>King of Texas</i>.</a></li>
      <li><a class="sources" href="http://archiveofourown.org/works/3828271">old_quincey. "Daisy Chains, Cuddles, and Crabbing."</a></li>
      <li><a class="sources" href="http://www.opensubtitles.org/en/subtitles/6106763/ran-en"><i>Ran</i>.</a></li>
      <li><a class="sources" href="http://archiveofourown.org/works/604789">rymenhild. "The Duke's Daughters (or: Overture, King Lear).</a></li>
      <li><a class="sources" href="http://shakespeareheadcanons.tumblr.com/post/130895148619/king-lear-headcanon-1">Shakespeare Head Canons' tumblr text post.</a></li>
      <li><a class="sources" href="http://ebba.english.ucsb.edu/ballad/31243/xml">Shakespeare, William. <i>The History of King Lear</i>. Ed. Nahum Tate.</a></li>
      <li><a class="sources" href="http://www.gutenberg.org/cache/epub/1128/pg1128.txt">Shakespeare, William. <i>The Tragedy of King Lear.</i></a></li>
      <li><a class="sources" href="http://archiveofourown.org/works/130821">sophia_sol. "To Be King."</a></li>
      <li><a class="sources" href="http://www.pitt.edu/~dash/salt.html#sugar">"Sugar and Salt."</a></li>
      <li><a class="sources" href="http://subscene.com/subtitles/a-thousand-acres/english/144900"><i>A Thousand Acres.</i></a></li>
      <li><a class="sources" href="http://ebba.english.ucsb.edu/ballad/30989/xml">"Tragical HISTORY of King LEAR, and his three DAUGHTE[RS]."</a></li>
      <li><a class="sources" href="http://www.eldritchpress.org/ist/lear.htm">Turgenev, Ivan. "A Lear of the Steppes."</a></li>
    </ul>
  </p>
{% endblock %}

